.idea/
prac_02/results.txt
prac_02/temps_output.txt
prac_03/conrads_stock.txt
prac_03/name.txt
prac_03/numbers.txt
prac_04/subject_data.txt
prac_05/wimbledon.csv
prac_07/guitars.csv
prac_08/projects.txt
prac_08/projects2.txt
prac_08/projects_wrong.txt
prac_08/anchor_layout.kv
prac_08/anchor_layout_demo.py
prac_08/basic_graphics_demo.py
prac_08/board_game.py
prac_08/button_event.kv
prac_08/button_event_demo.py
prac_08/clock_demo.kv
prac_08/clock_demo.py
prac_08/clock_demo2.kv
prac_08/clock_demo2.py
prac_08/convert_m_km_solution.kv
prac_08/convert_m_to_km_solution.py
prac_08/dynamic_widgets.kv
prac_08/dynamic_widgets.py
prac_08/falling_drawing.kv
prac_08/falling_drawing.py
prac_08/float_layout.kv
prac_08/float_layout_demo.py
prac_08/game_v1.kv
prac_08/game_v1.py
prac_08/game_v2.kv
prac_08/game_v2.py
prac_08/grid_layout.kv
prac_08/grid_layout_demo.py
prac_08/guitar.py
prac_08/guitars.json
prac_08/guitars_app.kv
prac_08/guitars_app.py
prac_08/guitars_console.py
prac_08/hello_kv.py
prac_08/hello_world.py
prac_08/hints_demo.kv
prac_08/hints_demo.py
prac_08/id_demo.kv
prac_08/id_demo.py
prac_08/label.kv
prac_08/label_demo.py
prac_08/mouse_drawing.py
prac_08/mvc.kv
prac_08/mvc_demo.py
prac_08/play_game_console.py
prac_08/popup_demo.kv
prac_08/popup_demo.py
prac_08/quick_sum_gui.kv
prac_08/quick_sum_app.py
prac_08/simple_animation_demo.kv
prac_08/simple_animation_demo.py
prac_08/size_and_position_demo.py
prac_08/size_position.kv
prac_08/spinner_demo.kv
prac_08/spinner_demo.py
prac_08/widget.kv
*/__pycache__
