.idea/
prac_02/results.txt
prac_02/temps_output.txt
prac_03/conrads_stock.txt
prac_03/name.txt
prac_03/numbers.txt
prac_04/subject_data.txt
prac_05/wimbledon.csv
prac_07/guitars.csv
prac_08/projects.txt
prac_08/projects2.txt
*/__pycache__
